// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #e31e24;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $black;
$link-invert: $primary-invert;
$link-focus-border: $primary;

H1.title {
    font-size: 190%;
}
H2.title {
    font-size: 140%;
    margin: 3rem 0 1.5rem;
}
H3.title {
    font-size: 125%;
}
H4.title {
    font-size: 110%;
}

.disabled {
    filter: opacity(0.5);
    pointer-events: none;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.fullscreen .text {
    display: block;
    color: black;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 101;
}
.fullscreen .text.error {
    color: #e31e24;
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";