<template>
  <b-notification
      type="is-warning"
      role="alert"
      :closable="false"
      :active="active"
    >
      <p>Похоже, Ваш предыдущий расчет был сделан в старой версии калькулятора, которая теперь недоступна.</p>
      <p v-show="getOldPrice">Стоимость услуги, расчитанная в предыдущий раз: {{getOldPrice}} руб.</p>
      <b-button @click="$parent.flushAndDeleteEntity()">Начать новый расчет услуги</b-button>
  </b-notification>
</template>

<script>
export default {
  props: ['active'],
  computed: {
    getOldPrice() {
      if (this.$parent.getCurrentServiceEntity !== undefined) {
        if (this.$parent.getCurrentServiceEntity.price > 0) {
          return this.$parent.getCurrentServiceEntity.price
        }
      }
      return null
    }
  }
}
</script>
