<template>
  <div class="has-text-right">
    <b-field label="Расчет">
      <b-select
        v-model="currentCalculationId"
        placeholder="Выберите"
      >
        <option v-for="(item, id) in getCalculations" :key="id" :value="id">
          {{ id }} ({{ item.carModelId }})
        </option>
      </b-select>
    </b-field>

    <b-button icon-left="plus" @click="createCalculation">Новый</b-button>
    <b-button icon-left="trash" @click="deleteCalculation">Удалить</b-button>

    <div class="head">Выберите услугу</div>
    <ul v-for="(section, index) of menuItems" :key="index">
      <li class="header"><b-icon :icon="section.icon" /> {{ section.name }}</li>
      <li v-for="(item, key) of section.items" :key="key" class="item">
        <b-icon
          v-if="getCurrentEntities && getCurrentEntities[item.id]"
          icon="check"
        ></b-icon>
        <nuxt-link :to="item.to" exact-active-class="is-active">
          {{ item.title }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<style scoped>
.head {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid #e31e24;
  margin: 0 0 20px;
  color: #000;
}
ul {
  margin: 0 0 40px;
}
li.header {
  color: #777;
  font-size: 140%;
  padding: 0;
  text-transform: uppercase;
}
li.item {
  padding: 3px 0;
}
li.item a {
  color: #000;
}
li.item a:hover {
  color: #e31e24;
}
</style>

<script>
import { mapState } from 'vuex'
import CommonGettersMixin from '~/mixins/commonGetters'

export default {
  mixins: [CommonGettersMixin],
  data() {
    return {
      currentCalculationId: null,
      userDataWatcher: null,
      menuItems: [
        {
          name: 'Сигнализации',
          icon: 'home',
          items: [
            {
              title: 'Установка новой',
              to: '/alarms/installation',
              id: 1
            },
            {
              title: 'Починить имеющуюся',
              to: '/alarms/repair',
              id: 2
            },
            {
              title: 'Заменить брелок',
              to: '/alarms/new-trinket',
              id: 3
            },
            {
              title: 'Добавить управление с телефона в имеющуюся',
              to: '/alarms/add-gsm',
              id: 4
            },
            {
              title: 'Добавить определение местоположения в имеющуюся',
              to: '/alarms/add-gps',
              id: 5
            },
            {
              title: 'Добавить автозапуск в имеющуюся',
              to: '/alarms/add-autostart',
              id: 6
            },
            {
              title: 'Демонтаж старой',
              to: '/alarms/dismantle',
              id: 7
            },
            {
              title: 'Ремонт брелка',
              to: '/alarms/trinket-repair',
              id: 8
            }
          ]
        },
        {
          name: 'Маяки',
          icon: 'star',
          items: [
            {
              title: 'Установка нового',
              to: '/beacons/installation',
              id: 9
            },
            {
              title: 'Починить, обслужить имеющийся',
              to: '/beacons/repair',
              id: 10
            }
          ]
        },
        {
          name: 'Механические блокираторы',
          icon: 'star',
          items: [
            {
              title: 'Установка нового',
              to: '/mechanical-locks/installation',
              id: 11
            },
            {
              title: 'Демонтаж блокиратора',
              to: '/mechanical-locks/repair',
              id: 12
            }
          ]
        },
        {
          name: 'Камеры заднего вида',
          icon: 'star',
          items: [
            {
              title: 'Установка новой',
              to: '/rear-cameras/installation',
              id: 13
            },
            {
              title: 'Починить имеющуюся',
              to: '/rear-cameras/repair',
              id: 14
            }
          ]
        },
        {
          name: 'Парковочные радары',
          icon: 'star',
          items: [
            {
              title: 'Установка нового',
              to: '/parking-radars/installation',
              id: 15
            },
            {
              title: 'Починить имеющуйся',
              to: '/parking-radars/repair',
              id: 16
            }
          ]
        },
        {
          name: 'Регистраторы, радар-детекторы, зеркала-мониторы',
          icon: 'star',
          items: [
            {
              title: 'Скрытая установка',
              to: '/electronic-addons/installation',
              id: 17
            }
          ]
        },
        {
          name: 'Магнитолы (головные устройства)',
          icon: 'star',
          items: [
            {
              title: 'Установка новой',
              to: '/radios/installation',
              id: 18
            },
            {
              title: 'Снять старую',
              to: '/radios/dismantle',
              id: 19
            }
          ]
        },
        {
          name: 'Акустика',
          icon: 'star',
          items: [
            {
              title: 'Установка новой, доработка имеющейся',
              to: '/acoustics/installation',
              id: 20
            },
            {
              title: 'Ремонт имеющейся',
              to: '/acoustics/repair',
              id: 21
            }
          ]
        },
        {
          name: 'Усилители',
          icon: 'star',
          items: [
            {
              title: 'Установка нового',
              to: '/amplifiers/installation',
              id: 22
            },
            {
              title: 'Ремонт имеющегося',
              to: '/amplifiers/repair',
              id: 23
            }
          ]
        },
        {
          name: 'Сабвуферы',
          icon: 'star',
          items: [
            {
              title: 'Установка нового',
              to: '/subwoofers/installation',
              id: 24
            },
            {
              title: 'Ремонт имеющегося',
              to: '/subwoofers/repair',
              id: 25
            }
          ]
        },
        {
          name: 'Шумоизоляция',
          icon: 'star',
          items: [
            {
              title: 'Шумоизоляция элементов',
              to: '/sound-insulation',
              id: 26
            }
          ]
        },
        {
          name: 'Тонирование',
          icon: 'star',
          items: [
            {
              title: 'Тонирование стекол',
              to: '/tinting/',
              id: 27
            },
            {
              title: 'Снятие старой пленки',
              to: '/tinting/dismantle',
              id: 28
            }
          ]
        },
        {
          name: 'Бронирование',
          icon: 'star',
          items: [
            {
              title: 'Бронирование элементов кузова',
              to: '/arming/',
              id: 29
            },
            {
              title: 'Снятие старой пленки',
              to: '/arming/dismantle',
              id: 30
            }
          ]
        }
      ]
    }
  },
  computed: {
    ...mapState({
      bootCompleted: (state) => state.boot.complete
    })
  },
  watch: {
    bootCompleted(complete) {
      // если данные загрузились
      if (complete) {
        this.currentCalculationId = this.getCurrentCalculationID // устанавливаем последнюю калькуляцию
      }
    },
    currentCalculationId() {
      this.changeCurrentCalculation()
    }
  },
  methods: {
    async changeCurrentCalculation() {
      try {
        let result 

        // убираем признак с текущей калькуляции
        const oldCalculation = {
          _jv: { type: 'calculations', id: this.getCurrentCalculationID },
          isLastUsed: false
        }

        result = await this.$store.dispatch('jv/patch', oldCalculation)

        if (result.isLastUsed !== false) throw new Error("Can't change last used calculation")

        // устанавливаем признак у выбранной калькуляции
        const newCalculation = {
          _jv: { type: 'calculations', id: this.currentCalculationId },
          isLastUsed: true
        }

        result = await this.$store.dispatch('jv/patch', newCalculation)

        if (result.isLastUsed !== true) throw new Error("Can't change last used calculation")

        this.$buefy.toast.open({
          message: 'Расчет выбран',
          type: 'is-success'
        })
      } catch (e) {
        this.currentCalculationId = this.getCurrentCalculationID // выставляем значение обратно, если обновить не удалось
        console.log(e)
      }
      
    },
    async createCalculation() {
      const data = {
          // начальные данные нового расчета
          userId: this.getUser.id,
          _jv: {
            type: 'calculations'
          }
        }

        const newCalculation = await this.$store.dispatch('jv/create', [
          data,
          { url: '/calculations' }
        ]) // создаем пустой расчет

        this.$buefy.toast.open({
          message: 'Новый расчет создан',
          type: 'is-success'
        })

        this.currentCalculationId = newCalculation._jv.id
    },
    async deleteCalculation () {
      try {
        await this.$store.dispatch('jv/delete', 'calculations/'+this.getCurrentCalculationID)

        this.$buefy.toast.open({
          message: 'Расчет удалён',
          type: 'is-success'
        })
      } catch (e) {
        if (e.response.status === 409) {
          this.$buefy.toast.open({
            message: 'Невозможно удалить расчет, на который ранее была оставлена заявка',
            type: 'is-warning'
          })
        } else {
          this.$buefy.toast.open({
            message: 'Не удалось удалить расчет, попробуйте позже',
            type: 'is-warning'
          })
        }
      }
    }
  }
}
</script>
