<template>
  <div>
    <div v-show="!showForm">
      <h2 class="title">Требуются ли другие услуги?</h2>
      <p class="content">
        Вы можете добавить несколько услуг, чтобы сэкономить свое время и
        получить их за один визит к нам: просто выберите подходящую из меню. Мы
        сохранили Ваш текущий выбор, и Вы всегда сможете к нему вернуться.
        <br /><br />

        <b-button @click="openForm()">Нет, записаться прямо сейчас</b-button>
      </p>
    </div>
    <!--@submit.prevent="submitForm()"-->
    <form v-show="showForm" class="has-text-left">
      <h2 class="title">Записаться на обслуживание</h2>
      <template v-if="!formSubmitted || (formSubmitted && formSubmitHaveError)">
        <b-tabs v-show="showForm" v-model="paymentType" multiline>
          <b-tab-item
            label="Расчет наличными или банковскими картами"
            icon="wallet"
          >
            <div class="columns is-desktop">
              <div class="column is-6 is-offset-3">
                <InvidualsInFormAuthentication></InvidualsInFormAuthentication>
              </div>
            </div>
          </b-tab-item>

          <b-tab-item label="Безналичный расчет" icon="file-invoice-dollar">
            <EntitiesInFormAuthentication></EntitiesInFormAuthentication>
          </b-tab-item>
        </b-tabs>

        <div v-if="$auth.loggedIn" class="block">
          <div class="field">
            <b-switch v-model="wantToChooseBranch">Выбрать филиал</b-switch>
          </div>
          <div v-if="wantToChooseBranch">
            <b-radio
              v-for="br in branches"
              :key="br.id"
              v-model="branch"
              :native-value="br.id"
              :disabled="disabled"
              >{{ br.title }}
              <span v-for="map in br.maps" :key="map.title" class="map-link">
                <a :href="map.url">{{ map.title }}</a>
                <b-icon icon="external-link-alt" size="is-small"></b-icon>
              </span>
            </b-radio>
            <br /><br />
          </div>
          <div class="field">
            <b-switch v-model="wantToPickDate">Выбрать дату</b-switch>
          </div>
          <div v-if="wantToPickDate">
            <b-field>
              <b-datepicker
                placeholder="Нажмите для выбора"
                icon="calendar-alt"
                trap-focus
              >
              </b-datepicker>
            </b-field>
            <br />
          </div>

          <div class="field">
            <b-switch v-model="wantToLeaveComment"
              >Добавить комментарий</b-switch
            >
          </div>

          <b-field v-if="wantToLeaveComment">
            <b-input v-model="comment" type="textarea"></b-input>
          </b-field>
        </div>
      </template>

      <template v-if="formSubmitted && !formSubmitHaveError">
        <b-notification type="is-success" has-icon :closable="false">
          {{ formSubmitResponse }}
        </b-notification>
      </template>

      <b-notification
        type="is-danger"
        has-icon
        aria-close-label="Закрыть"
        role="alert"
        :active="formSubmitHaveError"
      >
        К сожалению, произошла ошибка. Возможно, у Вас не стабильное соединение
        с интернетом, либо проблемы на нашей стороне. Попробуйте записаться ещё
        раз через пару минут.
      </b-notification>

      <div class="has-text-centered">
        <b-button
          type="is-primary"
          :disabled="(formSubmitted && !formSubmitHaveError) || !$auth.loggedIn"
          size="is-medium"
          @click="submitForm()"
          >Записаться</b-button
        >
      </div>
    </form>
  </div>
</template>

<style scoped>
strong {
  color: inherit;
}

div.orgranisation-search-header {
  display: inline-flex;
  margin: 0 0 5px;
}

span.map-link:first-child {
  margin: 0 5px 0 20px;
}
span.map-link {
  margin: 0 5px;
  display: inline-flex;
}
span.map-link a {
  margin-right: 5px;
  font-size: 80%;
}
span.map-link a,
span.map-link .icon {
  color: #a2a2a2;
}
span.map-link:hover a,
span.map-link:hover .icon {
  color: black;
}
</style>

<script>
import Cleave from 'cleave.js'
// import { required, minLength, numeric, email } from 'vuelidate/lib/validators'
// import { mapGetters } from 'vuex'
import InvidualsInFormAuthentication from '~/components/InFormAuth/Individuals'
import EntitiesInFormAuthentication from '~/components/InFormAuth/Entities'

require('cleave.js/dist/addons/cleave-phone.ru')

const cleave = {
  name: 'cleave',
  bind(el, binding) {
    const input = el.querySelector('input')
    input._vCleave = new Cleave(input, binding.value)
  },
  unbind(el) {
    const input = el.querySelector('input')
    input._vCleave.destroy()
  }
}

export default {
  directives: { cleave },
  components: {
    InvidualsInFormAuthentication,
    EntitiesInFormAuthentication
  },
  props: {},
  data() {
    return {
      showForm: false,
      formSubmitted: false,
      formSubmitHaveError: false,
      wantToLeaveComment: false,
      wantToChooseBranch: false,
      wantToPickDate: false,
      comment: '',
      branch: 0,
      paymentType: 0
    }
  },
  validations: {},
  computed: {
    phoneFieldErrors() {
      const errors = []

      if (this.$v.phone.$error) {
        if (!this.$v.phone.minLength) {
          errors.push(
            'Необходимо указать полный номер телефона с кодом сети (+7 123... или 8 123...)'
          )
        }
        if (!this.$v.phone.required) {
          errors.push('Поле необходимо заполнить')
        }
      }

      return errors
    },
    nameFieldErrors() {
      const errors = []

      if (this.$v.name.$error) {
        if (!this.$v.name.required) {
          errors.push('Поле необходимо заполнить')
        }
      }

      return errors
    }
  },
  methods: {
    openForm() {
      this.showForm = true
      // console.log(await this.$auth.requestPassword('phone', '79270206373'));
      // this.$myInjectedFunction('test');
      // this.$api.findAll('calculations');
      // this.$store.dispatch('jv/get', 'calculations');
    }
  }
}
</script>
