<template>
  <div>
    <template v-if="$auth.loggedIn">
      {{ name }}
      {{ phone }}
      <b-button @click="changePhone()">Изменить</b-button>

      <b-collapse
        :open="!organisationSelected"
        position="is-top"
        aria-id="organisationSearch"
      >
        <div
          slot="trigger"
          slot-scope="props"
          aria-controls="organisationSearch"
          class="orgranisation-search-header"
          :class="{ 'has-text-grey-light': !props.open }"
        >
          <template v-if="props.open">
            <strong>Найдите Вашу организацию</strong>
          </template>
          <template v-else>
            <strong>Открыть поиск</strong><b-icon icon="caret-down"></b-icon>
          </template>
        </div>

        <b-field
          message="Можно вводить комбинацию ИНН, названия и адреса. Например: «7736050003 Газ» → «ПАО Газпром»"
        >
          <b-autocomplete
            :data="organisationSuggestions"
            :loading="isSuggestionsFetching"
            @typing="queryOrganisation"
            @select="(option) => (organisationSelected = option)"
          >
            <template slot-scope="props">
              <div>
                <p class="has-text-black">{{ props.option.value }}</p>
                <p class="has-text-grey">
                  {{ props.option.data.address.value }}
                </p>
                <p class="has-text-grey">
                  ИНН {{ props.option.data.inn }}, ОГРН(ИП)
                  {{ props.option.data.ogrn }}
                </p>
              </div>
            </template>
          </b-autocomplete>
        </b-field></b-collapse
      >
    </template>
    <template v-else>
      <b-field
        label="Электронная почта"
        :type="{ 'is-danger': $v.email.$error }"
      >
        <b-input
          v-model.lazy="$v.email.$model"
          icon-pack="fas"
          icon="envelope-open"
        ></b-input>
      </b-field>

      <div v-if="!$auth.loggedIn && !$v.email.$invalid">
        <template v-if="!passwordSended">
          <p>
            Мы вышлем одноразовый пароль на Вашу электронную почту.
          </p>
          <b-button @click="sendPassword()">Выслать пароль в виде SMS</b-button>
        </template>
        <template v-else>
          <b-field
            ref="password"
            label="Пароль из SMS"
            :type="fieldErrorType('password')"
            :message="fieldErrorMessage('password')"
          >
            <b-input
              v-model.lazy="password"
              icon-pack="fas"
              icon="key"
            ></b-input>
          </b-field>
          <b-button @click="checkPassword()">Подтвердить</b-button>
        </template>
      </div>

      <!--
            <br />

            <div
              v-if="organisationSelected"
              class="columns is-variable is-8-desktop"
            >
              <div class="column">
                <p class="is-size-4">{{ organisationSelected.value }}</p>
                <p>{{ organisationSelected.data.address.value }}</p>
                <br />
                <p>
                  ИНН: {{ organisationSelected.data.inn }}<br />
                  ОГРН(ИП): {{ organisationSelected.data.ogrn }}<br />
                  КПП: {{ organisationSelected.data.kpp }}
                </p>
              </div>
              <div class="column is-7">

                <b-field
                  label="Контактное лицо"
                  :type="{ 'is-danger': $v.name.$error }"
                  :message="nameFieldErrors"
                >
                  <b-input
                    v-model.lazy="$v.name.$model"
                    icon-pack="fas"
                    icon="user"
                  ></b-input>
                </b-field>
                
                <b-field grouped>
                  <b-field
                    :type="{ 'is-danger': $v.phone.$error }"
                    :message="phoneFieldErrors"
                    label="Номер телефона"
                    expanded
                  >
                    <b-input
                      v-model.lazy="$v.phone.$model"
                      v-cleave="masks.phone"
                      icon-pack="fas"
                      icon="phone"
                    ></b-input>
                  </b-field>
                  <b-field
                    label="Добавочный"
                    :type="{ 'is-danger': $v.phoneExtra.$error }"
                  >
                    <b-input
                      v-model.lazy="$v.phoneExtra.$model"
                      icon-pack="fas"
                      icon="hashtag"
                    ></b-input>
                  </b-field>
                </b-field>
              </div>
              </div>
            </div>-->
    </template>
  </div>
</template>

<style scoped></style>

<script>
import Cleave from 'cleave.js'
import { required, minLength, numeric, email } from 'vuelidate/lib/validators'
require('cleave.js/dist/addons/cleave-phone.ru')

const cleave = {
  name: 'cleave',
  bind(el, binding) {
    const input = el.querySelector('input')
    input._vCleave = new Cleave(input, binding.value)
  },
  unbind(el) {
    const input = el.querySelector('input')
    input._vCleave.destroy()
  }
}

export default {
  directives: { cleave },
  props: {},
  data() {
    return {
      phone: '',
      name: '',
      email: '',
      phoneExtra: '',
      organisationQueryString: '',
      organisationSuggestions: [],
      isSuggestionsFetching: false,
      organisationSelected: null,
      password: '',
      passwordSended: false,
      passwordCheckFailed: false,
      masks: {
        phone: {
          phone: true,
          phoneRegionCode: 'RU'
        }
      },
      fieldsError: {
        password: ''
      }
    }
  },
  validations: {
    phone: {
      required,
      minLength: minLength(15)
    },
    name: {
      required
    },
    email: {
      required,
      email
    },
    phoneExtra: {
      numeric
    }
  },
  computed: {
    /*
    phoneFieldErrors() {
      const errors = []

      if (this.$v.phone.$error) {
        if (!this.$v.phone.minLength) {
          errors.push(
            'Необходимо указать полный номер телефона с кодом сети (+7 123... или 8 123...)'
          )
        }
        if (!this.$v.phone.required) {
          errors.push('Поле необходимо заполнить')
        }
      }

      return errors
    },
    nameFieldErrors() {
      const errors = []

      if (this.$v.name.$error) {
        if (!this.$v.name.required) {
          errors.push('Поле необходимо заполнить')
        }
      }

      return errors
    }
    */
  },
  methods: {
    fieldErrorMessage(field) {
      switch (field) {
        case 'password':
          if (this.fieldsError.password.length > 0) {
            return this.fieldsError.password
          }
          break
      }

      return ''
    },
    fieldErrorType(field) {
      const errorFieldType = 'is-danger'

      switch (field) {
        case 'password':
          if (this.fieldsError.password.length > 0) {
            return errorFieldType
          }
          break
      }

      return ''
    },
    clearFieldError(field) {
      if (typeof this.fieldsError[field] === 'string') {
        this.fieldsError[field] = ''
      }
    },
    queryOrganisation(queryString) {
      if (!queryString.length) {
        this.organisationSuggestions = []
        return
      }
      this.isSuggestionsFetching = true

      this.$axios({
        method: 'post',
        url:
          'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/party',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          Authorization: 'Token 128822d731053fd90db84373cadb6d0114f7661f'
        },
        data: {
          query: queryString
        }
      })
        .then(({ data }) => {
          this.organisationSuggestions = []
          data.suggestions.forEach((item) =>
            this.organisationSuggestions.push(item)
          )
        })
        .catch((error) => {
          this.organisationSuggestions = []
          throw error
        })
        .finally(() => {
          this.isSuggestionsFetching = false
        })
    }
  }
}
</script>
