<template>
  <div>
    <template v-if="$auth.loggedIn">
      {{ $getUser.name }}, Вы вошли с номером телефона {{ $getUser.phone }}
      <b-button @click="logOut()">Выйти</b-button>
      <!-- если пользователя не существовало
      <b-field label="Как обращаться?">
        <b-input v-model.lazy="name" icon-pack="fas" icon="user"></b-input>
      </b-field>
      -->
    </template>
    <template v-else>
      Вы вошли как гость. Для сохранения расчетов и отправки заявок введите Ваш
      номер телефона.
      <b-field label="Ваш номер телефона">
        <b-input
          v-model.lazy="phone"
          v-cleave="masks.phone"
          icon-pack="fas"
          icon="phone"
          :disabled="$auth.preLogin"
        ></b-input>
      </b-field>
      <div
        v-if="!$auth.loggedIn && !$v.phone.$invalid"
        class="has-text-centered"
      >
        <template v-if="!$auth.preLogin">
          <p>
            Номер телефона необходимо подтвердить. Нажмите кнопку ниже и мы
            вышлем Вам одноразовый пароль, который нужно будет ввести в
            следующем поле.
          </p>
          <b-button @click="requestPassword()"
            >Выслать пароль в виде SMS</b-button
          >
        </template>
        <template v-else>
          <b-field
            ref="password"
            label="Пароль из SMS"
            :type="fieldErrorType('password')"
            :message="fieldErrorMessage('password')"
          >
            <b-input
              v-model.lazy="password"
              icon-pack="fas"
              icon="key"
            ></b-input>
          </b-field>
          <b-button @click="verifyPassword()">Подтвердить</b-button>
        </template>
      </div>
    </template>
  </div>
</template>

<style scoped></style>

<script>
import Cleave from 'cleave.js'
import { required, minLength } from 'vuelidate/lib/validators'
require('cleave.js/dist/addons/cleave-phone.ru')

const cleave = {
  name: 'cleave',
  bind(el, binding) {
    const input = el.querySelector('input')
    input._vCleave = new Cleave(input, binding.value)
  },
  unbind(el) {
    const input = el.querySelector('input')
    input._vCleave.destroy()
  }
}

export default {
  directives: { cleave },
  props: {},
  data() {
    return {
      phone: '',
      name: '',
      password: '',
      passwordSended: false,
      passwordCheckFailed: false,
      masks: {
        phone: {
          phone: true,
          phoneRegionCode: 'RU'
        }
      },
      fieldsError: {
        password: ''
      }
    }
  },
  validations: {
    phone: {
      required,
      minLength: minLength(15)
    },
    name: {
      required
    }
  },
  computed: {
    /*
    phoneFieldErrors() {
      const errors = []

      if (this.$v.phone.$error) {
        if (!this.$v.phone.minLength) {
          errors.push(
            'Необходимо указать полный номер телефона с кодом сети (+7 123... или 8 123...)'
          )
        }
        if (!this.$v.phone.required) {
          errors.push('Поле необходимо заполнить')
        }
      }

      return errors
    },
    nameFieldErrors() {
      const errors = []

      if (this.$v.name.$error) {
        if (!this.$v.name.required) {
          errors.push('Поле необходимо заполнить')
        }
      }

      return errors
    }
    */
  },
  methods: {
    fieldErrorMessage(field) {
      switch (field) {
        case 'password':
          if (this.fieldsError.password.length > 0) {
            return this.fieldsError.password
          }
          break
      }

      return ''
    },
    fieldErrorType(field) {
      const errorFieldType = 'is-danger'

      switch (field) {
        case 'password':
          if (this.fieldsError.password.length > 0) {
            return errorFieldType
          }
          break
      }

      return ''
    },
    clearFieldError(field) {
      if (typeof this.fieldsError[field] === 'string') {
        this.fieldsError[field] = ''
      }
    },
    logOut() {
      this.$auth.processLogOut()
    },
    async requestPassword() {
      this.clearFieldError('password')

      const phone = this.phone.replace(/[^0-9]/g, '').slice(0, 11) // slice - вынужденная мера, маска на форме тупит иногда

      const requestResult = await this.$auth.requestPassword(phone)

      if (!requestResult) this.passwordSendError = true
    },
    async verifyPassword() {
      this.clearFieldError('password')

      const password = this.password.replace(/[^0-9]/g, '')
      const phone = this.phone.replace(/[^0-9]/g, '').slice(0, 11) // slice - вынужденная мера, маска на форме тупит иногда

      const verifyResult = await this.$auth.verifyPassword(phone, password)

      if (!verifyResult) this.passwordCheckError = true
    }
  }
}
</script>
