<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="columns is-variable is-8-desktop">
          <div class="column is-9">
            <nuxt />
          </div>
          <div class="column is-3">
            <Menu />
          </div>
        </div>
      </div>
    </section>
    <div class="footer-logo has-text-centered">
      <img src="~assets/img/logo.png" />
    </div>
    <footer class="footer">
      <div class="has-text-centered">
        <Navigation />
      </div>
    </footer>
  </div>
</template>

<style scoped>
.footer {
  padding: 1.5rem 0.5rem 3rem;
}
.footer-logo {
  padding: 0 0 30px;
}
.footer-logo img {
  width: 120px;
}
</style>

<script>
import Menu from '~/components/Menu'
import Navigation from '~/components/Navigation'

export default {
  components: {
    Menu,
    Navigation
  }
}
</script>
