<template>
  <div>
    <transition-group name="fade">
      <!-- Пока загрузка не завершена и нет ошибок -->
      <div v-show="!bootCompleted && !bootFailed" class="fullscreen" key="loading">
        <div class="wrapper">
          <div class="cssload-dots">
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
          </div>

          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" ></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0	0 1 0 0 0	0 0 1 0 0	0 0 0 18 -7" result="goo" ></feColorMatrix>
                <!--<feBlend in2="goo" in="SourceGraphic" result="mix" ></feBlend>-->
              </filter>
            </defs>
          </svg>

          <div class="text">Получаем данные</div>
        </div>
      </div>
    
      <!-- Загрузка завершилась ошибкой -->
      <div v-show="bootFailed" class="fullscreen" key="bootFailed">
        <div class="wrapper">
          <div class="text error">Произошла ошибка при получении данных <br /><br /> Пожалуйста, перезагрузите страницу</div>
        </div>
      </div>
    </transition-group>

      <!-- Основная секция, показываем всегда -->
      <div>
        <section class="section">
          <div class="container">
            <div class="columns is-variable is-8-desktop">
              <div class="column is-9">
                <nuxt />
              </div>
              <div class="column is-3">
                <Menu />
              </div>
            </div>
          </div>
        </section>
        <div class="footer-logo has-text-centered">
          <img src="~assets/img/logo.png" />
        </div>
        <footer class="footer">
          <div class="has-text-centered">
            <Navigation />
          </div>
        </footer>
      </div>
  </div>
</template>

<style scoped>
.footer {
  padding: 1.5rem 0.5rem 3rem;
}
.footer-logo {
  padding: 0 0 30px;
}
.footer-logo img {
  width: 120px;
}
</style>

<script>
import { mapState } from 'vuex'
import Menu from '~/components/Menu'
import Navigation from '~/components/Navigation'

export default {
  components: {
    Menu,
    Navigation
  },
  computed: {
    ...mapState({
      bootCompleted: (state) => state.boot.complete,
      bootFailed: (state) => state.boot.failed
    })
  },
  watch: {
    bootCompleted(complete) {
      if (complete) {
        this.$nuxt.$loading.finish()
      }
    },
    bootFailed(failure) {
      if (failure) {
        this.$nuxt.$loading.finish()
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      if (!this.bootCompleted && !this.bootFailed) this.$nuxt.$loading.start()
      if (this.bootCompleted && !this.bootFailed) this.$nuxt.$loading.finish()
    })
  }
}
</script>
