<template>
  <section>
    <p class="content">
      <img
        src="~assets/img/ya7service.jpg"
        alt="Я7 СЕРВИС: так всё начиналось"
        title="Я7 СЕРВИС: так всё начиналось"
        style="float:right; padding:15px"
      />
      Сервисный центр «<strong>Я7 СЕРВИС</strong>», ныне известный как
      «<strong>ya7auto.ru</strong>», был образован в ноябре 1996 года, в попытке
      сделать удобной и комфортной покупку и установку дополнительного
      автомобильного оборудования. За годы существования организации, в процессе
      внутренних преобразований был значительно расширен ассортимент
      предлагаемых товаров и качество оказываемых услуг. На данный момент мы
      предоставляем услуги по <strong>тонировке стекол автомобилей</strong>, а
      также
      <strong
        >установке, настройке и ремонту дополнительного автомобильного
        оборудования</strong
      >.
    </p>
    <p class="content">
      Также, сервисный центр реализует дополнительное автомобильное
      оборудование, у нас вы можете по выгодным ценам купить в Самаре:
    </p>
    <ul>
      <li>Автосигнализации, брелки и чехлы к ним</li>
      <li>Механические блокираторы</li>
      <li>Видеорегистраторы</li>
      <li>Радар-детекторы</li>
      <li>Парктроники</li>
      <li>Автоусилители</li>
      <li>Автоакустику: динамики, сабвуферы, твитеры</li>
      <li>Автосвет: галогеновые и ксеноновые лампы, дневные ходовые огни</li>
    </ul>
    <p class="content">
      Компания ya7auto.ru располагает двумя филиалами в г.Самара:
    </p>
    <ul>
      <li><a href="/contacts/">на ул. Фадеева</a></li>
      <li><a href="/contacts/">на Московском шоссе</a></li>
    </ul>
    <p class="content">
      Мы считаем, что инновационные идеи, правильно подобранный ассортимент
      продукции, грамотное ценообразование и высококвалифицированный персонал
      делают нас надежным и привлекательным центром обслуживания ваших
      автомобилей!
    </p>
  </section>
</template>

<script>
export default {
  layout: 'pages'
}
</script>
