<template>
  <section>
    <h1>Как проехать в ya7auto.ru. Адреса и телефоны.</h1>
    <div class="columns">
      <div class="column">
        <h2>Филиал на Фадеева</h2>
        <ul>
          <li>
            <a href="tel:+7 846 930-57-00">(+7 846) 930-57-00</a>
            <!--<span class="comment">Гарантийное обслуживание, розничные продажи без скидок</span>-->
          </li>
          <li>
            <a href="tel:+7 846 930-35-00">(+7 846) 930-35-00</a>
            <!--<span class="comment">Гарантийное обслуживание, розничные продажи без скидок</span>-->
          </li>
          <li>
            <a href="tel:+7 927 267-90-65">(+7 927) 267-90-65</a>
            <img src="~assets/img/vwt.png" align="absmiddle" />
            <!--<span class="comment">Гарантийное обслуживание, розничные продажи без скидок</span>-->
          </li>
          <li>
            <a>&nbsp;</a>
            <!--<span class="comment">Гарантийное обслуживание, розничные продажи без скидок</span>-->
          </li>
        </ul>

        <address>
          Адрес:<br />
          г. Самара, ул. Фадеева, 51А (ГСК №742).
        </address>
        <p class="is-hidden-desktop">
          Проложить маршрут в
          <a href="dgis://2gis.ru/routeSearch/rsType/car/to/50.206059,53.233615"
            >2ГИС</a
          >
          или
          <a
            href="yandexnavi://build_route_on_map?lat_to=53.233615&lon_to=50.206059"
            >Яндекс.Навигатор</a
          >.
        </p>
        <p>На карте:</p>
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A12ec3f7814999f106d63171241826d6cf32aca8eb2eb7edc17fc73fe2b07e9dc&amp;source=constructor"
          width="100%"
          height="500"
          frameborder="1"
        ></iframe>

        <b-collapse :open="false" position="is-top" aria-id="fadeevaInstruction">
            <a slot="trigger" slot-scope="props" aria-controls="fadeevaInstruction">
                <b-icon :icon="!props.open ? 'caret-down' : 'caret-up'"></b-icon>
                {{ !props.open ? 'Как проехать?' : 'Скрыть инструкцию' }}
            </a>
            <p>
          Филиал находится недалеко от парка культуры и отдыха им. Ю.Гагарина и
          северного трамвайного депо. Попасть туда можно разными способами:
        </p>
        <ul>
          <li>
            Если двигаться по улице 22-го Партсъезда от Московского ш., то после
            ТРЦ &laquo;Парк Хаус&raquo; будет поворот налево, на улицу Фадеева,
            а через 400 метров наш автосервис;
          </li>
          <li>
            При движении по улице 22-го Партсъезда от улицы Стара-Загора, не
            доезжая ТРЦ &laquo;Парк Хаус&raquo; будет поворот направо, на улицу
            Фадеева, а через 400 метров наш автосервис;
          </li>
          <li>
            Если вы движитесь по Ново-Вокзальной, то Вам будет необходимо
            свернуть на улицу Фадеева по трамвайным путям, возле углового
            продуктового рынка, двигаясь прямо, через 800 метров вы увидите наш
            филиал.
          </li>
        </ul>
        </b-collapse>

        
      </div>
      <div class="column">
        <h2>Филиал на Московском</h2>
        <ul>
          <li>
            <a href="tel:+7 846 927-93-04">(+7 846) 927-93-04</a>
            <!--<span class="comment">Гарантийное обслуживание, розничные продажи без скидок</span>-->
          </li>
          <li>
            <a href="tel:+7 846 925-99-96">(+7 846) 925-99-96</a>
            <!--<span class="comment">Гарантийное обслуживание, розничные продажи без скидок</span>-->
          </li>
          <li>
            <a href="tel:+7 937 180-96-33">(+7 937) 180-96-33</a>
            <img src="~assets/img/vwt.png" align="absmiddle" />
            <!--<span class="comment">Гарантийное обслуживание, розничные продажи без скидок</span>-->
          </li>
        </ul>

        <address>
          Адрес:<br />г. Самара, Московское шоссе, 16-й километр, 1А, строение 4
          (ГСК №282)
        </address>
        <p class="is-hidden-desktop">
          Проложить маршрут в
          <a href="dgis://2gis.ru/routeSearch/rsType/car/to/50.24356,53.262459"
            >2ГИС</a
          >
          или
          <a
            href="yandexnavi://build_route_on_map?lat_to=53.261849&lon_to=50.242553"
            >Яндекс.Навигатор</a
          >.
        </p>

        <p>На карте:<br /></p>
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A2b71ddec4420cece90aaa2c714aab6a9ec03e38f629617dbb78c137fd007b55a&amp;source=constructor"
          width="100%"
          height="500"
          frameborder="1"
        ></iframe>
        
        <b-collapse :open="false" position="is-top" aria-id="moscowInstruction">
            <a slot="trigger" slot-scope="props" aria-controls="moscowInstruction">
                <b-icon :icon="!props.open ? 'caret-down' : 'caret-up'"></b-icon>
                {{ !props.open ? 'Как проехать?' : 'Скрыть инструкцию' }}
            </a>
          <p>
          Филиал находится на пересечении Московского шоссе с улицей Ташкентской
          в гаражном кооперативе, между ТЦ &laquo;Интермебель&raquo; и
          поликлиникой больницы им. Середавина. Попасть сюда можно следующими
          путями:
        </p>
        <ul>
          <li>
            Двигаясь по улице Ташкентской от улицы Стара-Загора свернуть направо
            в сторону больницы им. Середавина (не доезжая Московского ш), далее
            двигаться прямо 200 метров до въезда в гаражный кооператив, свернуть
            налево (заехать в гаражный кооператив под шлагбаум) и далее
            двигаться по указателям;
          </li>
          <li>
            Если двигаться по улице Ташкентской от Московкого шоссе, то Вам
            необходимо свернуть налево на первом повороте (пересечь трамвайные
            пути), далее двигаться прямо 250 метров в сторону поликлиники
            больницы им. Середавина (мимо заправки) и свернуть налево в гаражный
            кооператив под шлагбаум, а после двигаться по указателям.
          </li>
          <li>
            При передвижении по Московскому шоссе необходимо попасть на дублер,
            не доезжая улицы Ташкентской, далее свернуть направо в конце
            дублера, а потом налево на первом повороте и двигаться прямо 250
            метров в сторону поликлиники больницы им. Середавина (мимо
            заправки). Теперь нужно свернуть налево в гаражный кооператив под
            шлагбаум, а после двигаться по указателям.
          </li>
        </ul>
        </b-collapse>

        
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'pages'
}
</script>
