<template>
  <section>
    <img src="~assets/img/logo.png" />
    <p>
      Работаем по предварительной записи, каждый день с 9 до 19 часов, без
      праздников и выходных.
    </p>
    <h1>Как происходит обслуживание?</h1>
    <ol>
      <li>Вы выбираете необходимые услуги и оставляете заявку</li>
      <li>
        Мы уточняем все нюансы требуемых работ и подбираем оптимальное время
        визита
      </li>
      <li>Связываемся с Вами и согласовываем дату и время визита.</li>
    </ol>
  </section>
</template>

<script>
export default {
  name: '',
  layout: 'main',
  components: {}
}
</script>
