<template>
  <section class="section">
    <h1 class="title">
      Установка сигнализаций в Самаре
    </h1>
    
    <div class="calculator-container">
      <entity-reset />
      <LegacyVersionNotification :active="isLegacy" />

      <div class="calculator" :class="{ disabled: isLegacy }">
        <h2 class="title">Какую сигнализацию Вы хотите установить?</h2>
        <div class="block">
          <b-radio
            v-model="entityData.alarmType"
            native-value="no-choose"
            size="is-medium"
            ><span>Выбрать на месте, в филиале</span>
          </b-radio>
          <b-radio
            v-model="entityData.alarmType"
            native-value="choose-now"
            size="is-medium"
            ><span>Выбрать онлайн</span>
          </b-radio>
          <b-radio
            v-model="entityData.alarmType"
            native-value="already-bought"
            size="is-medium"
            ><span>Приехать со своей</span>
          </b-radio>
        </div>

        <div v-show="entityData.alarmType == 'no-choose'">
          <p class="content">
            Вы сможете подобрать сигнализацию в филиале, воспользовавшись советом
            мастера. Все нюансы установки Вы также сможете обсудить с нашими
            специалистами на месте.
          </p>
          <h2 class="title">Какой функционал требуется от сигнализации?</h2>
          <p class="content">
            Это необходимо для более точного расчета стоимости монтажа.
          </p>
          <div class="block">
            <!--<b-field grouped group-multiline>-->
            <div v-for="(item, index) of options" :key="index" class="field">
              <b-switch
                v-model="entityData.optionsSelected"
                :native-value="item.key"
                >{{ item.title }}</b-switch
              >
            </div>
            <!--</b-field>-->
          </div>

          <div v-show="getRetailPrice">
            <h2 class="title">Стоимость монтажа со скидкой</h2>

            <b-notification :active="true" :closable="false">
              <p class="content">
                <strong>Розничная цена:</strong> {{ getRetailPrice }} руб.
              </p>
              <p class="content">
                <strong>Цена при заявке с сайта:</strong> {{ getDiscountedPrice }} руб.
              </p>
              <p></p>
            </b-notification>
          </div>

          <SubmitForm v-if="getRetailPrice" />
        </div>
      </div>
    </div>

    <p>Здесь будет текст</p>
  </section>
</template>

<style scoped></style>

<script>
import SubmitForm from '~/components/SubmitForm'
import ServiceVersionMixin from '~/mixins/serviceChild'
import CommonGettersMixin from '~/mixins/commonGetters'

export default {
  layout: 'services',
  created() {
    this.SERVICE_ID = '1' // ID этой услуги. Необходимо для сопоставления с услугами из базы данных
    this.RELEVANCE_POINT = new Date('2020-07-28T21:33:00') // точка актуальности этой услуги. МЕНЯТЬ КАЖДЫЙ РАЗ, ПРИ ИЗМЕНЕНИИ СТРУКТУРЫ
  },
  head: {
    title: 'Установка сигнализаций'
  },
  components: {
    SubmitForm
  },
  mixins: [ServiceVersionMixin, CommonGettersMixin],
  data() {
    return {
      entityData: {
        ...this.getDefaultData()
      },
      options: [
        {
          key: 'primitive',
          title: 'Базовая охрана и управление центральным замком'
        },
        { key: 'autostart', title: 'Автозапуск' },
        { key: 'gsm', title: 'Управление с телефона' },
        { key: 'gps', title: 'Определение точного местоположения автомобиля' },
        { key: 'webasto', title: 'Предпусковой подогрев (Webasto)' }
      ]
    }
  },
  methods: {
    getDefaultData() {
      return {
        alarmType: '',
        optionsSelected: []
      }
    }
  },
  computed: {
    haveNecessaryData() {
      // если пользователь ввел достаточно данных для расчета цены
      return this.entityData.optionsSelected.length > 0
    },
    calculatorConditions() {
      return {
        autostartNeeded: true,
        category: 5
      }
    }
  },
}
</script>
